# Insert here all you mcu' access

[mcu]
##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper for Spider
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
#serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_230032000851363131363530-if00
##	If you want to use the Raspberry uart0 to communicate with Spider, 
##  you need to select 'Communication interface' to 'Serial (on USART1 PA10/PA9)' 
##  in 'make menuconfig' when you compile klipper and set the serial as below
##--------------------------------------------------------------------
serial: /dev/ttyAMA0
restart_method: command
##--------------------------------------------------------------------


[board_pins mcu]
aliases:
# steppers
    X_DIAG=PB14,
    Y_DIAG=PB13, Y_STOP=PA1,

#hotend
    E_FAN=PB0,

#bed
    BED_HEATER=PB4, BED_TEMPERATURE=PC3, 

#chamber
    CHAMBER_TEMPERATURE=PC1,

# recirculating filter
    EXHAUST_FAN=PB15,
    CONTROLLER_FAN=PB2,
    FILTER_FAN=PC8,

#sensor
    # ELECTRICAL_CABINET_TEMPERATURE=PC3,
    # ENCLOSURE_TEMP=PC2,

# runout_sensor
    # RUNOUT_SENSOR=PA2,

[mcu toolhead]
##--------------------------------------------------------------------
canbus_uuid:  a538b721c2b4
##--------------------------------------------------------------------

[board_pins mcu_sht36_42]
mcu: toolhead
aliases:
# steppers
    X_STOP=PA1,
    E_STEP=PB4,  E_DIR=PB3,  E_ENABLE=PA15,  E_TMCUART=PB5,

#hotend
    E_HEATER=PA8, E_TEMPERATURE=PB0, E_FAN=PB11,
    PART_FAN=PB10,
#probe
    PROBE_INPUT=PA0,
#Toolhead Sensor
    TOOLHEAD_SENSOR=PB2,
#light
    STATUS_NEOPIXEL=PB15,
#adxl
    ADXL_CS=PA4,


[mcu ercf]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_8E30BCCC3052575020312E36391D12FF-if00

[board_pins mcu_ercf]
mcu: ercf
aliases:

# steppers
    GEAR_STEP=PA4 ,     GEAR_DIR=PA10 ,    GEAR_ENABLE=PA2 ,      GEAR_TMCUART=PA8,
    SELECTOR_STEP=PA9,  SELECTOR_DIR=PB8,  SELECTOR_ENABLE=PA11,  SELECTOR_STOP= PB9,
    SELECTOR_DIAG=PA7,

# servo
    ERCF_SERVO=PA5,

# encoder
    ERCF_ENCODER=PA6,

# endstop
    ERCF_ENDSTOP=PA3,
